$borderRad: 20px;
$displayAndWheelBorder: 3px solid black;
$wheelRadius: 100%;
@mixin boxShadows {
  -webkit-box-shadow: 6px 7px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 6px 7px 5px 0 rgba(0,0,0,0.75);
}
body {
  padding: 50px;
  background: rgba(207,207,207,1);
}
header {
  color: white;
  background-color: #455774;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  padding: 6px 0 0 15px;
  font: 100% serif;
  font-size: 25px;
}
.photos {
  background-color: #7e95ad;
  text-align: center;
  position: fixed;
  top: 46px;
  width: 100%;
  left: 0;
  padding: 5px;
  border-bottom: 2px solid black;
  z-index: 1;
  img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid white;
  }
}
.canvas {
  margin: 30px 0 0;
  text-align: center;
  position: relative;

  // z-index: -1;
  top: 120px;
}
.playerBody {
  @include boxShadows;
  background-color: pink;
  width: 200px;
  height: 500px;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: $borderRad;
  display: inline-block;
}
.display {
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 10%;
  height: 43%;
  text-align: center;
  border: $displayAndWheelBorder;
}
.outerWheel {
  background-color: white;
  width: 172px;
  height: 172px;
  border-radius: $wheelRadius;
  position: relative;
  top: 34px;
  left: 15px;
  border: $displayAndWheelBorder;
  .innerWheel {
    border: $displayAndWheelBorder;
    width: 86px;
    height: 86px;
    border-radius: $wheelRadius;
    position: relative;
    background-color: pink;
    margin: 0 auto;
    top: 40px;
  }
}
iframe {
  display: inline;
  vertical-align: top;
  margin-left: 2%;
  border: 10px solid black;
  @include boxShadows;
}
.buttonDiv{
  margin-top: -65px;
}
button {
  background-color: green;
  color: white;
  border-radius: $borderRad;
  width: 170px;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
}
